<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
  <body>
    <h1>About Brandon</h1>
    <div class="about-brandon">
      <p>
        Brandon Sanderson (Lincoln, Nebraska, 19 de diciembre de 1975) es un
        escritor estadounidense de literatura fantástica y ciencia ficción.
        Nacido en Nebraska, es miembro de la Iglesia de Jesucristo de los Santos
        de los Últimos Días y actualmente reside en Provo (Utah), con su esposa
        Emily con la que contrajo matrimonio el 7 de julio de 2006.Obtuvo un
        máster en Literatura Creativa en 2005 en la Brigham Young University,
        donde fue compañero de habitación del campeón de Jeopardy! Ken Jennings.
        Ha sido nominado dos veces para el Premio John W. Campbell.
      </p>

      <p>
        Creó las Leyes de Magia de Sanderson y popularizó los Sistemas de magia
        dura y blanda. En 2008, comenzó un podcast llamado Writing Excuses con
        el escritor Dan Wells y el dibujante Howard Tayler, en el que tratan
        temas relacionados con la creación de la escritura de géneros y los
        webcomics.
      </p>

      <p>
        En 2016, la compañía de medios estadounidense DMG Entertainment obtiene
        los derechos de todo el universo de Cosmere creado por Sanderson.
      </p>
    </div>
    <a href="/views/home-page.html">Back to Homepage</a>
    <a href="/views/works-page.html">Check the published Books</a>
  </body>
</html>
