<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
  <body>
    <h1>Brandon Sanderson</h1>
    <p class="intro">En esta página podrás conocer un poco más sobre la vida y obra de Brandon Sanderson, considerado como el futuro Tolkien</p>
    <img class="home-img"src="/public/images/prueba.jpg" />

    <a class="home-link"href="/views/about-page.html">See more about Brandon</a>
    <a class="home-link"href="/views/works-page.html">Check the published Books</a>
  </body>
</html>
